/*Animations*/
@keyframes raiseIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Universal Styles */
 * {
    box-sizing: border-box;
    margin: 0;
 }


/*Menu Bar Styles*/

#menu-bar {
    max-width: 50px;
    min-height: 100vh;
    border-right: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0
}

#menu-bar a {
    color: black;
    transition: color 0.3s ease 0.2s, transform 0.4s ease;
    transform: translateY(0);
    animation: raiseIn .35s ease-in forwards;
}

#menu-bar a:hover{
    color: blue;
    transform: translate(2px);
}

#menu-bar i {
    font-size: 1.5rem;
}

.menu-bar-top,
.menu-bar-bot{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.menu-bar-divider{
    background-color: darkgrey;
    height: 2px;
    min-width: 80%;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

header img {
    max-width: 20%;
    height: auto;
    border-radius: 100%;
}
