/* Fonts */

@font-face {
    font-family: "HeadersFont";
    src:url(/media/fonts/Google_Sans_Code/transfonter.org-20260129-221604/GoogleSansCode-Regular.woff2) format("woff2"),
        url(/media/fonts/Google_Sans_Code/transfonter.org-20260129-221604/GoogleSansCode-Regular.woff) format("woff"),
        url(/media/fonts/Google_Sans_Code/GoogleSansCode-Italic-VariableFont_wght.ttf) format("truetype");
}


/*Animations*/

@keyframes raiseIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Universal Styles */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
 }


 .nav-link {
     color: black;
     transition: color 0.2s ease, 
                 transform 0.4s ease;
     animation: raiseIn .35s ease-in;
     text-decoration: none;
     font-weight: 550;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

 .nav-link:hover{
    color: blue;
 }

 .nav-link i:active,
 .nav-link span:active {
    color: blue;
 }

 .button {
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 1rem;
    transition: background-color 0.2s ease 0.2s, 
                transform 0.4s ease;
    animation: raiseIn .35s ease-in;
 }

 .button:hover{
    transform: scale(1.1);
 }

 .primary-button {
    background-color: rgb(0, 76, 255);
    color: white;
 }

  .primary-button:hover {
    background-color: rgb(0, 106, 255);
 }


/*Menu Bar Styles*/

#menu-bar {
    min-width: 60px;
    min-height: calc(100vh - 80px);
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    position: fixed;
    top: 80px;
    z-index: 10;
}

#menu-bar a {
    transform: translateX(0);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#menu-bar a:hover{
    transform: translateX(2px);
}

#menu-bar i {
    font-size: 1.5rem;
}

.menu-bar-top,
.menu-bar-bot{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.menu-bar-divider{
    background-color: darkgrey;
    height: 2px;
    min-width: 80%;
}

.hide-label,
.menu-button, 
.burger-btn {
    position: absolute;  /* This code hides the labels from desktop screens */
    width: 1px;
    height: 1px;       
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}


.burger-btn .icon-close {
    display: none;
}

.burger-btn i {
  transition: opacity 0.15s ease, transform 0.15s ease;
  font-size: clamp(1.5rem, 4vw, 2rem);;
  background-color: white;
}

@media (max-width: 900px) {

    .header-nav,
    .name-separator{
        display: none;
    }
    
    .hide-label,
    .menu-button,
    .burger-btn {
    position: static;
    width: auto;
    height: auto;
    margin: 0;          /* This code shows the labels in tablets and mobiles */
    overflow: visible;
    white-space: normal;
    }

    .menu-button {
        padding: 0.6rem;
    }

    #menu-bar {
        width: 80vw;
        transform: translateX(-100%);
        padding: 3rem;
        transition: transform 0.2s ease-out;
        left: 0;
    }
    .menu-bar-bot {
        flex-direction: row;
        gap: 2rem;
    }
    .menu-bar-divider {
        display: none;
    }
      body.menu-open #menu-bar {
        transform: translateX(0);  /* This code open the menu */
    }

    body.menu-open .burger-btn .icon-open {
        display: none;
    }

     body.menu-open .burger-btn .icon-close {
        display: inline-block;
    }

  
}

/* Zoomable Elements Styles */

.zoom-overlay {
     position: fixed;  /* This code hides the overlay from desktop screens */
     opacity: 0;
     pointer-events: none;
}


body.zoom-in .zoom-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.38);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    animation: zoomIn 0.2s ease-in-out;
}

.zoomed-img {
    max-width: 80vw;
    max-height: 80vw;
}

/* Header Styles */

header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header h1,
header h2 {
    font-family: "HeadersFont", sans-serif;
}

header h1 {
    font-size: clamp(1.1rem, 4vw, 2rem);
}

header h2 {
    color: rgb(142, 140, 140);
    font-size: clamp(.5rem, 2vw, 1.5rem);
}

.name-separator {
    background-color: darkgrey;
    width: 2px;
    height: 30px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    align-items: center;
}


header img {
    height: 40px;
    width: auto;
    margin: auto 0;
    position: relative;
    left: 9px;
    animation: raiseIn .35s ease-in;
    z-index: 10;
}

header img:hover {
    cursor: pointer;
}

.header-left,
header nav ul,
header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav ul {
    list-style: none;
    gap: 2rem;
    margin-right: 2rem;
}

header nav a {
    display: inline-block;
    font-size: 1.2rem;
    transform: translateY(0px);
}
header nav a:hover {
    transform: translateY(-2px);
}

@media (max-width: 1310px) {
    .header-left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: start;
    }
    .name-separator {
        display: none;
    }
    
}

/* Hero Section */





