/* Fonts */

@font-face {
    font-family: "HeadersFont";
    src:url(/media/fonts/Google_Sans_Code/GoogleSansCode-Italic-VariableFont_wght.ttf) format(ttf),
        url(/media/fonts/Google_Sans_Code/transfonter.org-20260129-221604/GoogleSansCode-Regular.woff) format(woff),
        url(/media/fonts/Google_Sans_Code/transfonter.org-20260129-221604/GoogleSansCode-Regular.woff2) format(woff2);
}

/*Animations*/

@keyframes raiseIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Universal Styles */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }


/*Menu Bar Styles*/

#menu-bar {
    min-width: 60px;
    min-height: 100vh;
    border-right: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    position: fixed;
    top: 0px;
}

#menu-bar a {
    color: black;
    transition: color 0.3s ease 0.2s, transform 0.4s ease;
    animation: raiseIn .35s ease-in;
    transform: translateY(0);
}

#menu-bar a:hover{
    color: blue;
    transform: translate(2px);
}

#menu-bar i {
    font-size: 1.5rem;
}

.menu-bar-top,
.menu-bar-bot{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.menu-bar-divider{
    background-color: darkgrey;
    height: 2px;
    min-width: 80%;
}

/* Header Styles */

header {
    display: flex;
    height: 60px;
    border-bottom: 1px solid darkgray;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1,
header h2 {
    font-family: "HeadersFont", sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    align-items: center;
}


header img {
    height: 40px;
    width: auto;
    margin: auto 0;
    position: relative;
    left: 9px;
}

.header-left,
header nav ul{
    display: flex;
}
