/* Fonts */

@font-face {
    font-family: "HeadersFont";
    src:url(/media/fonts/Google_Sans_Code/transfonter.org-20260129-221604/GoogleSansCode-Regular.woff2) format("woff2"),
        url(/media/fonts/Google_Sans_Code/transfonter.org-20260129-221604/GoogleSansCode-Regular.woff) format("woff"),
        url(/media/fonts/Google_Sans_Code/GoogleSansCode-Italic-VariableFont_wght.ttf) format("ttf");
}


/*Animations*/

@keyframes raiseIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Universal Styles */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
 }

 .nav-link {
     color: black;
     transition: color 0.2s ease, 
                 transform 0.4s ease;
     animation: raiseIn .35s ease-in;
     text-decoration: none;
     font-weight: 550;
 }

 .nav-link:hover{
    color: blue;
 }

 .button {
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 1rem;
    transition: background-color 0.2s ease 0.2s, 
                transform 0.4s ease;
    animation: raiseIn .35s ease-in;
 }

 .button:hover{
    transform: scale(1.1);
 }

 .primary-button {
    background-color: rgb(0, 76, 255);
    color: white;
 }

  .primary-button:hover {
    background-color: rgb(0, 106, 255);
 }


/*Menu Bar Styles*/

#menu-bar {
    min-width: 60px;
    min-height: calc(100vh - 80px);
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    position: fixed;
    top: 80px;
    z-index: 10;
}

#menu-bar a {
    transform: translateX(0);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#menu-bar a:hover{
    transform: translateX(2px);
}

#menu-bar i {
    font-size: 1.5rem;
}

.menu-bar-top,
.menu-bar-bot{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.menu-bar-divider{
    background-color: darkgrey;
    height: 2px;
    min-width: 80%;
}

.hide-label,
.menu-button {
    position: absolute;  /* This code hides the labels from desktop screens */
    width: 1px;
    height: 1px;       
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;                    /* This hides the overlay for the menu drawer */
    right: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 5;
    background-color: (0,0,0,0.45)
}

.burger-btn .icon-close {
    display: none;
}

.burger-btn i {
  transition: opacity 0.15s ease, transform 0.15s ease;
}

@media (max-width: 768px) {
    
    .hide-label,
    .menu-button {
    position: static;
    width: auto;
    height: auto;
    margin: 0;          /* This code shows the labels in tablets and mobiles */
    overflow: visible;
    white-space: normal;
    }

    .menu-button {
        padding: 0.6rem;
    }

    #menu-bar {
        width: 80vw;
        /*transform: translateX(-100%);*/
        padding: 3rem;
        transition: transform 0.2s ease-out;
    }
    .menu-bar-bot {
        flex-direction: row;
        gap: 2rem;
    }
    .menu-bar-divider {
        display: none;
    }

    .menu-open {
        transform: translateX(100%);  /* This code open the menu */
    }
    body.menu-open #overlay {
    opacity: 1;
    pointer-events: auto;
  }
    body.menu-open .icon-open {
        display: none;
    }

     body.menu-open .icon-close {
        display: inline-block;
    }
}    

/* Header Styles */

header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header h1,
header h2 {
    font-family: "HeadersFont", sans-serif;
}

header h2 {
    color: rgb(142, 140, 140);
}

.name-separator {
    background-color: darkgrey;
    width: 2px;
    height: 30px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
    align-items: center;
}


header img {
    height: 40px;
    width: auto;
    margin: auto 0;
    position: relative;
    left: 9px;
    animation: raiseIn .35s ease-in;
    z-index: 10;
}

.header-left,
header nav ul,
header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav ul {
    list-style: none;
    gap: 2rem;
    margin-right: 2rem;
}

header nav a {
    display: inline-block;
    font-size: 1.2rem;
    transform: translateY(0px);
}
header nav a:hover {
    transform: translateY(-2px);
}



