/* Fonts */

@font-face {
    font-family: "HeadersFont";
    src:url(/media/fonts/Google_Sans_Code/transfonter.org-20260129-221604/GoogleSansCode-Regular.woff2) format("woff2"),
        url(/media/fonts/Google_Sans_Code/transfonter.org-20260129-221604/GoogleSansCode-Regular.woff) format("woff"),
        url(/media/fonts/Google_Sans_Code/GoogleSansCode-Italic-VariableFont_wght.ttf) format("truetype");
}


/*Animations*/

@keyframes raiseIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Universal Styles */

main {
    margin-left: 3rem;
}
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: "HeadersFont", sans-serif;

 }


 .nav-link {
     color: black;
     transition: color 0.2s ease, 
                 transform 0.4s ease;
     animation: raiseIn .35s ease-in;
     text-decoration: none;
     font-weight: 550;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

 .nav-link:hover{
    color: blue;
 }

 .nav-link i:active,
 .nav-link span:active {
    color: blue;
 }

 .button {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 1rem;
    transition: background-color 0.2s ease 0.2s, 
                transform 0.4s ease;
    animation: raiseIn .35s ease-in;
    width: 180px;
    display: inline-block;
    text-align: center;
 }

 .button:hover{
    transform: scale(1.1);
 }

 .primary-button {
    background-color: rgb(0, 76, 255);
    color: white;
 }

  .primary-button:hover {
    background-color: rgb(0, 106, 255);
 }

 .primary-button:active{
    background-color: lightblue;
 }

 .secondary-button {
    color: black;
 }

 .secondary-button:hover {
    background-color: lightgray;
 }
 .secondary-button:active {
    background-color: lightgray;
 }

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*Menu Bar Styles*/

#menu-bar {
    min-width: 60px;
    min-height: calc(100vh - 80px);
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    position: fixed;
    top: 80px;
    z-index: 10;
    background-color: white;
}

#menu-bar a {
    transform: translateX(0);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#menu-bar a:hover{
    transform: translateX(2px);
}

#menu-bar i {
    font-size: 1.5rem;
}

.menu-bar-top,
.menu-bar-bot{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.menu-bar-divider{
    background-color: darkgrey;
    height: 2px;
    min-width: 80%;
}

.hide-label,
.menu-button, 
.burger-btn {
    position: absolute;  /* This code hides the labels from desktop screens */
    width: 1px;
    height: 1px;       
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}


.burger-btn .icon-close {
    display: none;
}

.burger-btn i {
  transition: opacity 0.15s ease, transform 0.15s ease;
  font-size: clamp(1.5rem, 4vw, 2rem);;
  background-color: white;
}



/* Zoomable Elements Styles */

.zoom-overlay {
     position: fixed;  /* This code hides the overlay from desktop screens */
     opacity: 0;
     pointer-events: none;
}


body.zoom-in .zoom-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.38);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    animation: zoomIn 0.2s ease-in-out;
}

.zoomed-img {
    max-width: 80vw;
    max-height: 80vh;
}

/* Header Styles */

header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

header h1 {
    font-size: clamp(1.1rem, 4vw, 2rem);
}

header h2 {
    color: rgb(142, 140, 140);
    font-size: clamp(.5rem, 2vw, 1.5rem);
}

.name-separator {
    background-color: darkgrey;
    width: 2px;
    height: 30px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
}


header img {
    height: 40px;
    width: auto;
    margin: auto 0;
    position: relative;
    left: 9px;
    animation: raiseIn .35s ease-in;
    z-index: 10;
}

header img:hover {
    cursor: pointer;
}

.header-left,
header nav ul,
header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav ul {
    gap: 2rem;
    margin-right: 2rem;
}

header nav a {
    display: inline-block;
    font-size: 1.2rem;
    transform: translateY(0px);
}
header nav a:hover {
    transform: translateY(-2px);
}

/* Hero Section */



#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 40vh;
    padding: 2rem;
    text-align: center;
    margin-top: 80px;
}

#hero-section h2 {
    font-size: clamp(1.8rem, 4vw, 2rem);
}

.hero-bullets {
    display: flex;
    list-style: none;
    font-size: clamp(.5rem, 1vw, 1rem);
    font-weight: bold;
}

.hero-bullets li:not(:last-child)::after{
    content: '•';
    margin: 0 10px;
    font-size: 1.2em;
    line-height: 1;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: .8rem 0;
}

.hero-divider {
    background-color: lightgray;
    min-width: 80vw;
    height: 1px;
}

/*---Featured Project Section Styling---*/

#featured-projects {
    background-color: rgb(237, 237, 237);
    padding: 2rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.project-card {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12),
    0 12px 24px rgba(0,0,0,0.10);
    min-width: 80vw;
    height: 35vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.project-card h3 {
    font-size: clamp(1rem, 3vw, 1.4rem);
    padding-bottom: .5rem;
}

.project-card h4 {
    color: gray;
    font-size: clamp(.8rem, 2vw, 1rem);
}

.skills-container {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0;
    flex-wrap: wrap;
}

.skills-container span {
    background-color: lightblue;
    padding: .5rem;
    border: 1px solid darkblue;
    border-radius: 10px;
    font-size: clamp(.6rem, 1.5vw, 1rem);
    font-weight: bold;
}

.project-links {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.project-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-links ul a {
    color: blue;
    font-size: clamp(.8rem, 2vw, 1rem);;
}

.project-links ul li:not(:last-child)::after{
    content: '|';
    margin: 0 10px;
    font-size: 1.2em;
    color: gray;
}

.case-study {
    color: gray;
    font-style: italic;
    font-size: clamp(.8rem, 2vw, 1rem);
}

.card-separator {
    height: 1px;
    background-color: rgb(223, 223, 223);
    width: 80vw;
    margin-bottom: .5rem;
}

/*---Skills Section Styling---*/

#skills-section {
    height: 30vh;
    padding: 2rem;
}


.skills-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 2rem;
    height: 100%;
}

.skill-list {
    display: flex;
}

@media (max-width: 1310px) {
    .header-left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: start;
    }
    .name-separator {
        display: none;
    }
    
}

@media (max-width: 1020px) {

    main {
        margin: 0;
    }

    .header-nav,
    .name-separator{
        display: none;
    }
    
    .hide-label,
    .menu-button,
    .burger-btn {
    position: static;
    width: auto;
    height: auto;
    margin: 0;          /* This code shows the labels in tablets and mobiles */
    overflow: visible;
    white-space: normal;
    }

    .menu-button {
        padding: 0.6rem;
    }

    #menu-bar {
        width: 80vw;
        transform: translateX(-100%);
        padding: 3rem;
        transition: transform 0.2s ease-out;
        left: 0;
    }
    .menu-bar-bot {
        flex-direction: row;
        gap: 2rem;
    }
    .menu-bar-divider {
        display: none;
    }
      body.menu-open #menu-bar {
        transform: translateX(0);  /* This code open the menu */
    }

    body.menu-open .burger-btn .icon-open {
        display: none;
    }

     body.menu-open .burger-btn .icon-close {
        display: inline-block;
    }
}

@media (max-width: 450px) {
    .remove-smallsc {
        display: none;
    }
}

@media (max-width: 310px) {
    .skills-container {
        display: none;
    }
    #hero-section {
        height: 55vh;
    }
}