@font-face {
    font-family: 'Google Sans Code';
    src: url('GoogleSansCode-Italic.woff2') format('woff2'),
        url('GoogleSansCode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans Code';
    src: url('GoogleSansCode-Regular.woff2') format('woff2'),
        url('GoogleSansCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

